@use './variables' as v;

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$clr-dark;
}

.section {
  width: inherit;
  height: inherit;
  display: flex;  
  flex-direction: column;
  padding: v.$spc-md;
  background-color: v.$clr-dark;
  border: 0.25rem solid v.$clr-accent-main;
  border-radius: v.$radius;

  .section-title-header {
    position: relative;
    text-align: center;
    color: v.$clr-accent-main;
    
    .exit-section-btn {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(180deg);
      font-size: 1.4em;
      transition: color 0.3s ease;

      &:hover {
        color: v.$clr-accent-warm;
      }
    }
  }
}

.form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0.15rem solid v.$clr-accent-main;
  border-radius: v.$radius;
  color: v.$clr-dark;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: v.$bs-item-hover;
  }

  label,
  select,
  input,
  button,
  textarea {
    padding: 0.5em;
  }

  select,
  input {
    background-color: v.$clr-accent-main;
    color: v.$clr-dark;
    transition: color 0.3s ease-in-out;
    font-weight: v.$fw-thick;
  }
  
  button {
    width: 100%;
    background-color: transparent;
    color: v.$clr-accent-cold;
    font-weight: v.$fw-thick;
    transition: 
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: rgb(112, 49, 118);
      color: v.$clr-light;
    }
  }

  textarea {
    resize: none;
    width: 100%;
    background-color: transparent;
    color: v.$clr-accent-cold;
  }
}

.popup {
  min-width: 22rem;
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 1.5em;
  background-color: v.$clr-dark;
  border: 0.2rem solid v.$clr-accent-warm;
  border-radius: v.$radius;
  color: v.$clr-accent-warm ;
  font-weight: v.$fw-thick;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  z-index: 99;

  p {
    margin-bottom: 1.5em;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    button {
      padding: 0.7em 1.2em;
      background-color: v.$clr-dark;
      border: 0.1rem solid v.$clr-accent-warm;
      cursor: pointer;
      transition: 
        border 0.3s ease,
        color 0.3s ease;
    }
    
    button:first-child:hover {
      border: 0.1rem solid v.$clr-error;
      color: v.$clr-error;
    }
    
    button:last-child:hover {
    border: 0.1rem solid v.$clr-success;
      color: v.$clr-success;
    }
   
  }
}

.popup.show {
  transform: translate(-50%, 0);
}

::placeholder{
  color: v.$clr-dark;
}


.mark-placeholder::placeholder {
  color: v.$clr-accent-cold;
  opacity: 1;
}


// Scrollbar

::-webkit-scrollbar {
	width: 0.9rem;
}
::-webkit-scrollbar-thumb {
	background-color: v.$clr-accent-main;
	border: 0.3rem solid v.$clr-dark;
	border-radius: 100vw;
}
::-webkit-scrollbar-track {
	background-color: v.$clr-dark;
}
@supports (scrollbar-color: v.$clr-dark v.$clr-dark) {
	* {
		scrollbar-color: v.$clr-accent-main v.$clr-accent-main;
		scrollbar-width: auto;
	}
}